<h1>Livros disponíveis: </h1>

<div class="books-container">
    <a href="/">Novo Livro</a>
    {{#each books}}
        <div>
           <a href="/books/{{this.id}}"> #{{this.id}} </a> - <span class="bold">{{this.title}}</span> - {{this.pageqty}} páginas
        </div>
    {{/each}}
</div>