<h1>Cadastre o seu livro</h1>

<form action="/books/insertbook" method="POST" class="form">
    <div class="form-control">
        <label for="title">Título</label>
        <input name="title" id="title" type="text" placeholder="Digite o título" />
    </div>
    <div class="form-control">
        <label for="pagesqty">Qtd de páginas</label>
        <input name="pagesqty" id="pagesqty" type="number" placeholder="Digite a qtd de páginas" />
    </div>

    <input type="submit" value="Cadastrar">
</form>