<h1>Edite o seu livro</h1>

<form action="" method="POST" class="form">
    <div class="form-control">
        <label for="title">Título</label>
        <input name="title" id="title" type="text" placeholder="Digite o título" value="{{book.title}}" />
    </div>
    <div class="form-control">
        <label for="pagesqty">Qtd de páginas</label>
        <input name="pagesqty" id="pagesqty" type="number" placeholder="Digite a qtd de páginas" value="{{book.pageqty}}" />
    </div>

    <input type="submit" value="Editar">
</form>